<!DOCTYPE html>
<html>
    <title>Add new book</title>
<head>
    <!--Below in styles I define my settings for the navgation panel, which is margined to the left side of the screen and has a black background with
  with white colored text-->
  <link rel="stylesheet" href="/css/style.css">
<!--Below are the links for the navigation panel leading to different pages-->
</head>
<body>   
    <%- include('navigation') %>
        <!--below I have the book image and text and styles-->
    <div style="margin-left:20%;padding:1px 16px;height:1000px;">
        <div class="book_edit">
            <form method="post">
                <input type="text" id="name" name="name" placeholder="Enter book name">
                <small class="input_err name">Please enter valid book name!</small>
                <input type="text" id="author_name" name="author_name" placeholder="Enter author's name">
                <small class="input_err author_name">Please enter valid author name!</small>
                <input type="submit" value="Save" name="submit" id="save_btn">
            </form>
        </div>
        </div>
        <script src="/js/newbook.js"></script>
    </body>
</html>